body {
    background-color: #212121;
    color: #fff;
  }
  input {
    margin: 0;
    padding: 0;
  }
  .calc-sec {
    max-width: 400px;
    margin: 0 auto;
    padding: 100px 0;
  }
  .calc-sec h1 {
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
  }
  .calc-sec .rows {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 -5px;
  }
  .calc-sec .calc-content {
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 50px;
    background-color: #696969;
  }
  .calc-sec button.button {
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    margin: 5px 5px;
    cursor: pointer;
    width: calc(25% - 10px);
    font-size: 24px;
  }
  .calc-sec .rows input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: right;
    background-color: #fff;
  }
  